* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    background-image: url("@/app/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    display: flex;
}

.centre {
    display: flex;
}