.allMovies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    gap: 10px;
}
/*===================================*/
.poster img {
    width: 150px;
    border-radius: 10px;
    transition: 1s;
}

.poster {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 280px;
    height: 320px;
    border: 1px solid aqua;
    border-radius: 10px;
    transition: 1s;
    background: rgb(79, 15, 19, 0.9);
    position: relative;
}

.poster h4 {
    width: 250px;
}

.poster img:hover {
    background-color: gray;
    border-radius: 30px;
    transition: 1s;
    transform: scale(1.1);
}

/*================================================*/
.details {
    margin: 5% 0 0 10%;
    display: flex;
    gap: 30px;
    color: lightyellow;
    width: 70%;
}
.details p {
    margin: 1% 0;
    color: lightyellow;
}
/*///======================================*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: lightyellow;
}

.pagination button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #b21723;
    border-radius: 30px;
    border: 1px solid aqua;
    color: lightyellow;
    font-weight: bold;
}

.pagination div {
    padding: 8px 16px;
    font-weight: bold;
}
/*==============================*/
.header {
    color: lightyellow;
    padding: 2% 0 0 10%;
}

.header ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header li {
    color: lightyellow;
    cursor: pointer;
    width: 100px;
    border: 1px solid aqua;
    border-radius: 30px;
    transition: 0.5s;
}

.header li:hover {
    background-color: #449494;
    border-radius: 30px;
    transition: 0.5s;
    transform: scale(1.5);
}
/*===========================*/
.star-rating {
    display: inline-block;
}

.star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color 0.2s ease-out;
}
.star-rating__star.is-selected {
    color: #FFD700;
}
/*================================*/
.badge {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border-radius: 20px;
    top: -5px;
    left: 10px;
    z-index: 10;
    transform: translate(-10%, -10%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.poster-container {
    position: relative;
    display: inline-block;
    width: fit-content;
}
