.allFilm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    /*border: 3px solid yellow;*/
    gap: 10px;
}

.poster img {
    width: 150px;
    border-radius: 10px;
    transition: 1s;

}

.poster {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 300px;
    border: 1px solid aqua;
    border-radius: 10px;
    transition: 1s;
    background: rgb(79, 15, 19, 0.9);
}

.poster h4 {
    width: 170px;
}

.poster img:hover {
    background-color: gray;
    border-radius: 30px;
    transition: 1s;
    transform: scale(1.1);
}

/*================================================*/

.details {
    margin: 2% 0 0 10%;
    display: flex;
    gap: 5%;
    color: white;
    width: 80%;

}

.details p {
    margin: 1% 0 0 0;
}


/*///======================================*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: white;
}

.pagination button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #b21723;
    border-radius: 30px;
    color: white;
    font-weight: bold;

}

.pagination div {
    padding: 8px 16px;
    font-weight: bold;
}

/*===========================================================*/
.header {
    color: white;
    padding: 2% 0 0 10%;
}

.header ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header li {
    color: white;
    cursor: pointer;
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.header li:hover {
    background-color: gray;
    border-radius: 30px; /*уровень зоокругления */
    transition: 0.5s; /*скорость транспормации*/
    transform: scale(1.5); /*трансформация отсека*/
}

/*===========================*/
.star-rating {
    display: inline-block;
}

.star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color 0.2s ease-out;
}

.star-rating__star.is-selected {
    color: #FFD700;
}

/*================================*/