.allFilm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    /*border: 3px solid yellow;*/
    gap: 10px;
}

.poster img {
    width: 150px;
    border-radius: 10px;
    transition: 1s;

}

.poster {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 270px;
    border: 1px solid aqua;
    border-radius: 10px;
    background-color: #b6bcc2;
    transition: 1s;
}

.poster h4 {
    width: 170px;
}

.poster img:hover {
    background-color: gray;
    border-radius: 30px; /*уровень зоокругления */
    transition: 1s; /*скорость транспормации*/
    transform: scale(1.1); /*трансформация отсека*/
}

/*================================================*/

.header {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    /*background-color: green;*/
}

/*================================================*/
.details {
    margin-left: 10%;
    display: flex;
    gap: 20px;
    color: white;
    width: 80%;

}

/*///======================================*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #b21723;
    border-radius: 30px;
    color: black;
}

.pagination span {
    padding: 8px 16px;
    font-weight: bold;
}

/*===========================================================*/